* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 16px;
}

/*computer*/
@media all and (min-width: 1300px) {
  .border {
    box-shadow: 3px 3px 3px 3px grey;
  }
  body {
    padding-left: 20%;
    padding-right: 20%;
  }
  .grid {
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(4);
  }
  .header {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .aside {
    grid-column: 1/2;
    grid-row: 1/5;
  }
  .progress {
    width: 200px;
  }
}

/*tablet*/
@media all and (max-width: 1299px) {
  .border {
    box-shadow: 3px 3px 3px 3px grey;
  }
  body {
    padding-left: 15%;
    padding-right: 15%;
  }
  .grid {
    grid-template-columns: 1;
    grid-template-rows: repeat(3);
    width: auto;
  }
  .header {
    grid-column: 1;
    grid-row: 1/2;
  }
  .main {
    grid-column: 1;
    grid-row: 2/3;
  }
  .aside {
    grid-column: 1;
    grid-row: 3/4;
  }
  .progress {
    width: 90%;
  }
}

/*phone*/
@media all and (max-width: 599px) {
  body {
    padding-left: 1%;
    padding-right: 1%;
  }
  .border {
    box-shadow: none;
  }
}

a {
  padding: 2%;
}

i {
  color: #fed300;
}

i:hover {
  color: white;
}

h3 {
  padding-bottom: 3%;
  font-style: italic;
}

li,
ul,
a {
  display: block;
  text-decoration: none;
  margin: 1%;
}

.border {
  border-radius: 1%;
  width: auto;
}
.grid {
  display: grid;
}
.main {
  display: grid;
}
.aside {
  color: white;

  background: linear-gradient(black, #708090);
  border-radius: 1%;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1fr 2px 50px;
}
.aside-content {
  grid-column: 1;
  grid-row: 1/2;
  padding: 20% 10% 0 10%;

  line-height: 2em;
}

.aside-soft_skill {
  padding-top: 15%;
}

.aside-title {
  margin-bottom: 5%;
  font-size: 20px;
  color: #fed300;
}

.aside-quote {
  padding-top: 30%;
  font-style: oblique;
  font-weight: 900;
}
.aside-footer {
  margin: 2%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  grid-row: 3/4;
}

.aside-bar {
  background-color: white;
  grid-column: 1;
  grid-row: 2/3;
}

.header {
 
  padding: 5%;

  border-bottom: 2px solid #fed300;

 margin: 1%;
}

.header-content {
  text-align: justify;
  font-size: 14px;
 color:grey;
}


.title1 {
  font-size: 45px;
  color: #fed300;
}

.title2 {
  
  padding-bottom: 4%;
  padding-top: 2%;
  padding-left: 2%;
  font-style: italic;
}

.main-experience {
  grid-column: 1;
  grid-row: 2/3;
  padding: 5% 6% 6% 6%;
}

.li-padding {
  padding-left: 3%;
}

.main-skill {
  grid-column: 1;
  grid-row: 3/4;
  padding: 0 6% 0 6%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2);
}

.main-skill_title {
  grid-column: 1/2;
  grid-row: 1/2;
}

.main-skill_1 {
  grid-column: 1/2;
  grid-row: 2/3;
  padding-left: 1%;
}

.main-skill_2 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.main-group {
  grid-column: 1;
  grid-row: 4/5;
  padding: 6% 6% 3% 6%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2);
}

.main-passion_title1 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.main-passion {
  grid-column: 2/3;
  grid-row: 2/3;
}

.main-langage_title2 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.main-langage {
  grid-column: 1/2;
  grid-row: 2/3;
}

img {
  width: 20%;
  float: right;
padding-left: 4%;  
  padding-top: 1%;
}

.progress {
  background: black;

  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 1px;
  display: flex;
  height: 10px;
}

.progress-value1 {
  animation: load1 3s normal forwards;
  box-shadow: 0 10px 10px -10px #fff;
  border-radius: 100px;
  background: #fed300;
  height: 8px;
  width: 0;
}

@keyframes load1 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
.progress-value2 {
  animation: load2 3s normal forwards;
  box-shadow: 0 10px 10px -10px #fff;
  border-radius: 100px;
  background: #fed300;
  height: 8px;
  width: 0;
}

@keyframes load2 {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}
.progress-value3 {
  animation: load3 3s normal forwards;
  box-shadow: 0 10px 10px -10px #fff;
  border-radius: 100px;
  background: #fed300;
  height: 8px;
  width: 0;
}

@keyframes load3 {
  0% {
    width: 0;
  }
  100% {
    width: 65%;
  }
}

.progress-value4 {
  animation: load4 3s normal forwards;
  box-shadow: 0 10px 10px -10px #fff;
  border-radius: 100px;
  background: #fed300;
  height: 8px;
  width: 0;
}

@keyframes load4 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

.progress-value5 {
  animation: load5 3s normal forwards;
  box-shadow: 0 10px 10px -10px #fff;
  border-radius: 100px;
  background: #fed300;
  height: 8px;
  width: 0;
}

@keyframes load5 {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

.progress-value6 {
  animation: load6 3s normal forwards;
  box-shadow: 0 10px 10px -10px #fff;
  border-radius: 100px;
  background: #fed300;
  height: 8px;
  width: 0;
}

@keyframes load6 {
  0% {
    width: 0;
  }
  100% {
    width: 65%;
  }
}
.progress-value7 {
  animation: load7 3s normal forwards;
  box-shadow: 0 10px 10px -10px #fff;
  border-radius: 100px;
  background: #fed300;
  height: 8px;
  width: 0;
}

@keyframes load7 {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}
.progress-value8 {
  animation: load8 3s normal forwards;
  box-shadow: 0 10px 10px -10px #fff;
  border-radius: 100px;
  background: #fed300;
  height: 8px;
  width: 0;
}

@keyframes load8 {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}
.letter {
  
  color: #fed300;
  font-weight: 900;
  font-size: 20px;
}
